---
interface Props {
	description: string
	title: string
}

const { title, description } = Astro.props

import Particles from '../components/Particles.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />

		<title>{title}</title>
	</head>
	<body class="[&_:focus-visible]:outline-none [&_:focus-visible]:ring-2 [&_:focus-visible]:ring-primary text-gray-700" >
		<Particles />
		<nav class="p-4 border-b border-1 border-opacity-55 border-white" >
		  <ul class="flex justify-center space-x-4 font-sans font-bold text-xl">
			<li><a href="/" class="hover:text-gray-100">Inicio</a></li>
			<li><a href="/" class="hover:text-gray-100">Proyectos</a></li>
			<li><a href="/" class="hover:text-gray-100">Contacto</a></li>
		  </ul>
		</nav>
		<div class="mx-auto max-w-6xl px-2 pt-16 md:pt-20 lg:px-10">
			<slot />
		</div>
	  </body>
</html>

<style>
	::-webkit-scrollbar {
		width: 10px;
		border-radius: 10px;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: white;
		border: 2px solid transparent;
		background-clip: content-box;
	}

	::-webkit-scrollbar-track {
		background: var(--background-image);
	}

	::-webkit-scrollbar-corner {
		background: var(--background-image);
	}
</style>